extends layout.pug 
block contents 

    div(class="form")

        if errors
            each error in errors 
                b #{error.msg}  
                br
        
        form( method="POST" , action="")
            div(class="form-label")
                label(for="title") Title

            div(class="form-field")    
                input(type="text",placeholder="A quite place",value=(blog==undefined?"":blog.title) name="title")

            div(class="form-label")
                label(for="description") Description

            div(class="form-field")    
                textarea( type="text" placeholder="hello world!" id="default" value=(blog==undefined?"":blog.message) name="description")= (blog==undefined?"":blog.message) 

           
            div(class="radio-field")
                input(type="radio", name="visibility" id="public" value="public" checked=(blog==undefined?true:((blog.visibility==true?true:false))))     
                label(for="public") Public 

            div(class="radio-field")    
                input(type="radio", name="visibility" id="private" value="private" checked=(blog==undefined?false:((blog.visibility!=true?true:false)))) 
                label(for="private") Private
                
                
            button(type="submit") Post           